@media (min-width: 1440px) {
  .catalog {
    min-width: 1440px;
    max-width: 1480px;
    margin: 0 auto;
  }
}
@media (min-width: 1920px) {
  .catalog {
    max-width: 1590px;
  }
}
.catalog .catalog__container {
  padding: 0 15px;
}
@media (min-width: 834px) {
  .catalog .catalog__container {
    display: flex;
    margin-top: 40px;
  }
}
@media (min-width: 1920px) {
  .catalog .catalog__container {
    padding: 0;
  }
}
.catalog .catalog__container .classes__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
  height: 100%;
}
@media (min-width: 834px) {
  .catalog .catalog__container .classes__list {
    margin-right: 20px;
    margin-top: 0;
    position: sticky;
    top: 10px;
  }
}
@media (min-width: 1920px) {
  .catalog .catalog__container .classes__list {
    margin-right: 80px;
  }
}
.catalog .catalog__container .classes__list .class {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  border-radius: 10px;
}
.catalog .catalog__container .classes__list .class:not(:last-child) {
  margin-bottom: 8px;
}
@media (min-width: 834px) {
  .catalog .catalog__container .classes__list .class {
    width: 255px;
    height: 55px;
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
  }
}
@media (min-width: 1920px) {
  .catalog .catalog__container .classes__list .class {
    width: 325px;
    height: 70px;
  }
  .catalog .catalog__container .classes__list .class:not(:last-child) {
    margin-bottom: 15px;
  }
}
.catalog .catalog__container .classes__list .class svg {
  margin-left: 10px;
  width: 35px;
}
.catalog .catalog__container .classes__content {
  margin: 32px auto 0;
  max-width: 564px;
}
@media (min-width: 834px) {
  .catalog .catalog__container .classes__content {
    max-width: 100%;
    margin-top: 0;
  }
}
@media (min-width: 1440px) {
  .catalog .catalog__container .classes__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.catalog .catalog__container .classes__content .hotel__room {
  position: relative;
}
.catalog .catalog__container .classes__content .hotel__room:not(:first-child) {
  margin-top: 32px;
}
@media (min-width: 834px) {
  .catalog .catalog__container .classes__content .hotel__room:not(:first-child) {
    margin-top: 50px;
  }
}
@media (min-width: 1440px) {
  .catalog .catalog__container .classes__content .hotel__room {
    margin-top: 50px;
  }
  .catalog .catalog__container .classes__content .hotel__room:nth-child(1), .catalog .catalog__container .classes__content .hotel__room:nth-child(2) {
    margin-top: 0;
  }
}
.catalog .catalog__container .classes__content .hotel__room .slide {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 564px;
  border-radius: 10px;
}
@media (min-width: 834px) {
  .catalog .catalog__container .classes__content .hotel__room .slide {
    margin-left: 0;
  }
}
.catalog .catalog__container .classes__content .hotel__room .room__description .room__price {
  display: flex;
  justify-content: space-between;
}
.catalog .catalog__container .classes__content .hotel__room .room__description .room__price div {
  flex-grow: 1;
}
.catalog .catalog__container .classes__content .hotel__room .room__description .room__price .type, .catalog .catalog__container .classes__content .hotel__room .room__description .room__price .price {
  white-space: nowrap;
  margin-top: 0;
}
.catalog .catalog__container .classes__content .hotel__room .room__description .room__price .type {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 5px;
}
@media (min-width: 834px) {
  .catalog .catalog__container .classes__content .hotel__room .room__description .room__price .type {
    font-size: 24px;
    line-height: 36px;
  }
}
.catalog .catalog__container .classes__content .hotel__room .room__description .room__price .price {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #C36346;
  margin-bottom: 0;
}
@media (min-width: 834px) {
  .catalog .catalog__container .classes__content .hotel__room .room__description .room__price .price {
    font-size: 24px;
    line-height: 36px;
  }
}
.catalog .catalog__footer {
  width: 100%;
  max-width: 315px;
  margin: 32px auto;
}
@media (min-width: 834px) {
  .catalog .catalog__footer {
    max-width: 635px;
    margin: 40px auto;
  }
}
@media (min-width: 1920px) {
  .catalog .catalog__footer {
    margin: 80px 133px 80px auto;
    max-width: 1050px;
  }
}
.catalog .catalog__footer .text {
  font-family: Gilroy;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  margin: 0;
}
.catalog .catalog__footer .text:not(:last-child) {
  margin-bottom: 30px;
}
@media (min-width: 834px) {
  .catalog .catalog__footer .text {
    font-size: 17px;
    line-height: 27px;
  }
}
@media (min-width: 1920px) {
  .catalog .catalog__footer .text {
    font-size: 24px;
    line-height: 36px;
    text-align: left;
  }
}
.catalog .catalog__footer .text .link {
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  color: #C26346;
  font-weight: 600;
}

/*# sourceMappingURL=catalog.css.map */
