.contacts .contacts__container {
  padding: 0 15px;
  max-width: 1590px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .contacts .contacts__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media (min-width: 1440px) {
  .contacts .contacts__container {
    align-items: flex-start;
    margin-top: 16px;
  }
  .contacts .contacts__container .title {
    text-align: left;
  }
}
.contacts .contacts__container .contacts__item .address {
  display: flex;
  flex-direction: column;
}
.contacts .contacts__container .contacts__item .text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  position: relative;
  display: inline-flex;
  align-items: center;
  margin: 0;
  max-width: 290px;
}
@media (min-width: 768px) {
  .contacts .contacts__container .contacts__item .text {
    margin: 0 auto;
    text-align: center;
    flex-direction: column;
    font-size: 18px;
    line-height: 27px;
    max-width: 340px;
  }
}
@media (min-width: 1440px) {
  .contacts .contacts__container .contacts__item .text {
    text-align: left;
    flex-direction: row;
    margin: 0;
  }
}
.contacts .contacts__container .contacts__item .text:not(:last-child) {
  margin-bottom: 10px;
}
.contacts .contacts__container .contacts__item .text.gps {
  padding-left: 20px;
}
@media (min-width: 768px) {
  .contacts .contacts__container .contacts__item .text.gps {
    background: url("../icons/point.svg") no-repeat left center;
    background-size: 16px 20px;
    padding-left: 30px;
  }
}
.contacts .contacts__container .contacts__item .text.gps::before {
  content: "";
  left: 0;
  position: absolute;
  background: url("../icons/point.svg") no-repeat center;
  background-size: cover;
  display: block;
  width: 13px;
  height: 16px;
}
@media (min-width: 768px) {
  .contacts .contacts__container .contacts__item .text.gps::before {
    display: none;
  }
}
.contacts .contacts__container .contacts__item .text.phone {
  padding-left: 20px;
  text-decoration: none;
  color: inherit;
}
.contacts .contacts__container .contacts__item .text.phone:hover {
  text-decoration: underline;
}
@media (min-width: 768px) {
  .contacts .contacts__container .contacts__item .text.phone {
    font-size: 24px;
    line-height: 36px;
    padding-left: 40px;
    flex-direction: row;
  }
}
.contacts .contacts__container .contacts__item .text.phone::before {
  content: "";
  left: 0;
  position: absolute;
  background: url("../icons/phone.svg") no-repeat center;
  background-size: cover;
  display: block;
  width: 16px;
  height: 16px;
}
@media (min-width: 768px) {
  .contacts .contacts__container .contacts__item .text.phone::before {
    width: 24px;
    height: 24px;
  }
}
.contacts .contacts__container .contacts__item .text.time {
  padding-left: 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #aaa;
}
@media (min-width: 768px) {
  .contacts .contacts__container .contacts__item .text.time {
    font-size: 16px;
    line-height: 24px;
    flex-direction: row;
    padding-left: 20px;
  }
}
.contacts .contacts__container .contacts__item .text.time::before {
  content: "";
  left: 0;
  position: absolute;
  background: url("../icons/bi_clock.svg") no-repeat center;
  background-size: cover;
  display: block;
  width: 8px;
  height: 8px;
}
@media (min-width: 768px) {
  .contacts .contacts__container .contacts__item .text.time::before {
    width: 13px;
    height: 13px;
  }
}
@media (min-width: 768px) {
  .contacts .contacts__container .contacts__item .text.option {
    font-size: 16px;
    line-height: 24px;
  }
}
.contacts .contacts__container .contacts__item.requisites {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1440px) {
  .contacts .contacts__container .contacts__item.requisites {
    align-items: flex-start;
  }
}
.contacts .contacts__container .contacts__item.requisites .text {
  font-size: 12px;
  margin: 0;
  display: block;
  text-align: left;
}
@media (min-width: 768px) {
  .contacts .contacts__container .contacts__item.requisites .text {
    font-size: 16px;
    line-height: 24px;
    flex-direction: row;
    max-width: 380px;
    text-align: center;
  }
}
@media (min-width: 1440px) {
  .contacts .contacts__container .contacts__item.requisites .text {
    max-width: 700px;
  }
}
.contacts .contacts__container .contacts__item.requisites .text .bold {
  font-weight: 700;
  margin-right: 5px;
}
.contacts .contacts__container .contacts__item .contact-block {
  display: flex;
  flex-direction: column;
}
.contacts .contacts__container .contacts__item .contact-block:not(:last-child) {
  margin-bottom: 15px;
}
@media (min-width: 1440px) {
  .contacts .contacts__container .contacts__item .contact-block:not(:last-child) {
    margin-bottom: 24px;
  }
}
.contacts .contacts__container .more {
  display: block;
  max-width: 300px;
  color: #C26346;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  margin: 24px 0 32px;
}
@media (min-width: 768px) {
  .contacts .contacts__container .more {
    font-size: 24px;
    line-height: 36px;
    max-width: 516px;
    margin: 32px 0 40px;
  }
}
@media (min-width: 1440px) {
  .contacts .contacts__container .more {
    text-align: left;
    margin: 40px 0 80px;
  }
}

/*# sourceMappingURL=contacts.css.map */
