.stock .stock__container {
  padding: 0 35px;
  max-width: 606px;
  margin: 24px auto 32px;
}
@media (min-width: 834px) {
  .stock .stock__container {
    padding: 0;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
@media (min-width: 1440px) {
  .stock .stock__container {
    margin-top: 32px;
    max-width: 1040px;
    margin-bottom: 90px;
  }
}
.stock .stock__container .text {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 834px) {
  .stock .stock__container .text {
    font-size: 24px;
    line-height: 36px;
  }
}
.stock .stock__container .small {
  width: 212px;
  margin: 8px auto 0;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}
@media (min-width: 834px) {
  .stock .stock__container .small {
    font-size: 20px;
    line-height: 30px;
    width: 362px;
    margin-top: 24px;
  }
}
@media (min-width: 1440px) {
  .stock .stock__container .small {
    width: 100%;
    text-align: center;
  }
}
.stock .stock__container .stock__reservation-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
}
@media (min-width: 834px) {
  .stock .stock__container .stock__reservation-block {
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-top: 58px;
    margin-bottom: 40px;
  }
}
@media (min-width: 1440px) {
  .stock .stock__container .stock__reservation-block {
    max-width: 530px;
    margin: 40px auto 80px;
  }
}
.stock .stock__container .stock__reservation-block .stock__reservation-item {
  display: flex;
  justify-content: space-between;
  max-width: 252px;
  width: 100%;
}
.stock .stock__container .stock__reservation-block .stock__reservation-item .reservation {
  width: 115px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stock .stock__container .stock__reservation-block .stock__reservation-item .reservation input {
  width: 100%;
  height: 30px;
  margin: 0;
  padding: 0;
  display: block;
  background: #FFFFFF;
  border: 0.5px solid #C26346;
  box-sizing: border-box;
  border-radius: 4px;
}
.stock .stock__container .stock__reservation-block .stock__reservation-item .reservation label {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #303030;
  opacity: 0.9;
  margin-bottom: 8px;
}
.stock .stock__container .stock__reservation-block .room__reserve {
  margin-top: 24px;
  margin-bottom: 32px;
}
@media (min-width: 834px) {
  .stock .stock__container .stock__reservation-block .room__reserve {
    margin: 0;
  }
}
.stock .stock__container .stock__interesting {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1440px) {
  .stock .stock__container .stock__interesting {
    flex-direction: row;
  }
}
.stock .stock__container .stock__interesting div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 50px;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  font-style: italic;
  margin-bottom: 15px;
  font-weight: 500;
}
@media (min-width: 834px) {
  .stock .stock__container .stock__interesting div {
    font-size: 24px;
    line-height: 36px;
    width: 250px;
    height: 85px;
  }
}
@media (min-width: 834px) and (min-width: 1440px) {
  .stock .stock__container .stock__interesting div {
    margin: 0;
  }
}
.stock .stock__container .stock__interesting div::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../img/interesting.svg");
  z-index: -1;
}
.stock .stock__container .stock__interesting .text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  max-width: 290px;
}
.stock .stock__container .stock__interesting .text .br {
  display: none;
}
@media (min-width: 834px) {
  .stock .stock__container .stock__interesting .text {
    font-size: 24px;
    line-height: 36px;
    max-width: 500px;
    margin-top: 25px;
  }
}
@media (min-width: 834px) and (min-width: 1440px) {
  .stock .stock__container .stock__interesting .text {
    width: 100%;
    margin: 0 0 0 40px;
    max-width: 730px;
    text-align: left;
  }
  .stock .stock__container .stock__interesting .text .br {
    display: block;
  }
}
.stock .stock__container .stock__interesting .text .color {
  color: #C26346;
}

/*# sourceMappingURL=stock.css.map */
