@font-face {
  font-family: "Snell Roundhand";
  src: url("/fonts/SnellRoundhand.ttf") format("ttf"), url("/fonts/SnellRoundhand.woff2") format("woff2"), url("/fonts/SnellRoundhand.otf") format("otf");
  font-weight: 300;
}
body {
  margin: 0;
  background-color: #FAF7F0;
  box-sizing: border-box;
  font-family: Gilroy, sans-serif;
  color: #444443;
}

.btn {
  box-shadow: 3px 8px 20px rgba(36, 30, 28, 0.12);
}

.grey {
  background-color: #798C92;
}
.grey:hover {
  background-color: #ADB7B8 !important;
}

.brick {
  background-image: linear-gradient(159.86deg, #D56847 -29.16%, #AE5D44 114.8%);
}

.nav__item {
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
}
.nav__item:hover {
  font-weight: 600;
}

.header2 {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 0;
}
@media (min-width: 834px) {
  .header2 {
    font-size: 54px;
    line-height: 81px;
  }
}

.subheader {
  font-family: "Snell Roundhand";
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin: 0;
}
@media (min-width: 834px) {
  .subheader {
    font-size: 32px;
    line-height: 40px;
    margin-top: 32px;
  }
}

.title {
  font-weight: 800;
  font-size: 16px;
  line-height: 150%;
  margin: 16px 0;
}
@media (min-width: 834px) {
  .title {
    font-size: 32px;
    line-height: 48px;
    margin: 32px 0 24px;
  }
}

.room__reserve {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px auto 0;
  width: 200px;
  height: 50px;
  border-radius: 6px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #FFFFFF;
  border: 1px solid #EAB19F;
}
@media (min-width: 834px) {
  .room__reserve {
    width: 240px;
    height: 60px;
    font-size: 20px;
    line-height: 30px;
    margin-left: 0;
    margin-top: 40px;
  }
}
.room__reserve svg {
  margin-left: 8px;
}

.interesting {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1440px) {
  .interesting {
    flex-direction: row;
  }
}
.interesting div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 50px;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  font-style: italic;
  margin-bottom: 15px;
  font-weight: 500;
}
@media (min-width: 834px) {
  .interesting div {
    font-size: 24px;
    line-height: 36px;
    width: 250px;
    height: 85px;
  }
}
@media (min-width: 834px) and (min-width: 1440px) {
  .interesting div {
    margin: 0;
  }
}
.interesting div::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../img/interesting.svg");
  background-size: cover;
  z-index: -1;
}
.interesting .text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  max-width: 290px;
}
.interesting .text .br {
  display: none;
}
@media (min-width: 834px) {
  .interesting .text {
    font-size: 24px;
    line-height: 36px;
    max-width: 500px;
    margin-top: 25px;
  }
}
@media (min-width: 834px) and (min-width: 1440px) {
  .interesting .text {
    width: 100%;
    margin: 0 0 0 40px;
    max-width: 730px;
    text-align: left !important;
  }
  .interesting .text .br {
    display: block;
  }
}
.interesting .text .color {
  color: #C26346;
}

.row {
  height: 100px;
}

.closed .hideable {
  display: none;
}

div .float {
  float: left;
}

/*# sourceMappingURL=style.css.map */
